@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    List<SelectListItem> HoraInical = (List<SelectListItem>)ViewBag.DataH;
    List<SelectListItem> Horaf = (List<SelectListItem>)ViewBag.DataF;
    List<SelectListItem> Almuerzo = (List<SelectListItem>)ViewBag.Almuerzo;
    List<SelectListItem> idAlmuerzo = (List<SelectListItem>)ViewBag.Almuerzo;
}

<div class="col-md-12 form-group border">
    <div class="col-xs-12">
        <span style="font-size:19px;font-family:'Arial Rounded MT';font-weight:bold"> CCI </span>
    </div>
    <div class="col-xs-12">
        <span style="font-size:19px;font-family:'Arial Rounded MT';font-weight:bold"> Selecciona el puesto que desea reservar, llenar los datos solicitados.</span>
    </div>
    <br />
</div>
<div class="col-md-12 form-group border">
    <div class="col-xs-12">
        <span style="font-size:19px;font-family:'Arial Rounded MT';font-weight:bold;align-content:center"> Selecciona la Fecha que desea buscar:</span>
    </div>
    <div class="col-xs-12">
        <input type="date" id="FechaBusqueda" />
        <button class="btn  btn-info" onclick="functionBusqueda();">Buscar</button>
    </div>
</div>
<div class="col-md-12 form-group border">
    <div class="col-xs-12">
        <span style="font-size:11px;font-family:'Arial Rounded MT';font-weight:bold"><span style="color:red;font-size:12px;font-weight:bold"> RSV: </span> <span class="badge bg-warning pull-center" style="font-size: 12px;">RESERVADO</span></span>
    </div>
    <br />
</div>
<div class="col-md-12 form-group border">
    <div class="col-xs-12">
        <span style="font-size:11px;font-family:'Arial Rounded MT';font-weight:bold">Cuando se filtra por fecha los puestos que aparecen en rojo son los que tienen o tuvieron reserva para ese día seleccionado. <span style="font-size:16px;">La fecha consultada es:</span> <span style="color:black;font-size:16px;" class="badge bg-blue-sky pull-center">@ViewBag.FechaConsulta</span></span>
    </div>
    <br />
</div>

<div class="col-md-12 form-group border">
    <div class="col-xs-12">
        <a style="font-size:11px;font-family:'Arial Rounded MT';font-weight:bold;text-decoration:underline;color:blue;cursor:pointer" onclick="mostrarProgramacion();">Ver Programación</a>
    </div>
    <br />
</div>
<div class="col-md-12 form-group fondo">

    <div class="loader"></div>

    <!-- #region CCI OFICINA -->

    @if (ViewBag.reservaCC1 == "Si")
    {
        <div class="CCI1" id="items">
            <div class="col-sm-2 text-center" onclick="mostrarResumen('1226');"
                 data-toggle="tooltip" data-placement="left" title="" data-original-title="">
                <i class="fa fa-desktop" style="color: red;" data-toggle="tooltip" data-placement="left" title="" data-original-title="@ViewBag.CCI1">
                    <span class="texto">RSV<img src="~/img/CCI1.jpeg" style="width:220px; height:250px;" alt="careto tooltip" /></span>
                </i>
            </div>
        </div>
    }
    else
    {
        <div class="CCI1" id="items">
            <div class="col-sm-2 text-center" onclick="mostrarResumen('1226');"
                 data-toggle="tooltip" data-placement="left" title="" data-original-title="">
                <i class="fa fa-desktop" style="color: blue;" data-toggle="tooltip" data-placement="left" title="" data-original-title="@ViewBag.CCI1">
                    <span class="texto">1<img src="~/img/CCI1.jpeg" style="width:220px; height:250px;" alt="careto tooltip" /></span>
                </i>
            </div>
        </div>

    }

    @if (ViewBag.reservaCC2 == "Si")
    {
        <div class="CCI2" id="items">
            <div class="col-sm-2 text-center" onclick="mostrarResumen('1227');"
                 data-toggle="tooltip" data-placement="left" title="" data-original-title="">
                <i class="fa fa-desktop" style="color: red;" data-toggle="tooltip" data-placement="left" title="" data-original-title="@ViewBag.CCI2">
                    <span class="texto">RSV<img src="~/img/CCI2.jpeg" style="width:220px; height:250px;" alt="careto tooltip" /></span>
                </i>
            </div>
        </div>
    }
    else
    {
        <div class="CCI2" id="items">
            <div class="col-sm-2 text-center" onclick="mostrarResumen('1227');"
                 data-toggle="tooltip" data-placement="left" title="" data-original-title="">
                <i class="fa fa-desktop" style="color: blue;" data-toggle="tooltip" data-placement="left" title="" data-original-title="@ViewBag.CCI2">
                    <span class="texto">2<img src="~/img/CCI2.jpeg" style="width:220px; height:250px;" alt="careto tooltip" /></span>
                </i>
            </div>
        </div>

    }

    @if (ViewBag.reservaCC3 == "Si")
    {
        <div class="CCI3" id="items">
            <div class="col-sm-2 text-center" onclick="mostrarResumen('1228');"
                 data-toggle="tooltip" data-placement="left" title="" data-original-title="">
                <i class="fa fa-desktop" style="color: red;" data-toggle="tooltip" data-placement="left" title="" data-original-title="@ViewBag.CCI3">
                    <span class="texto">RSV<img src="~/img/CCI3.jpeg" style="width:220px; height:250px;" alt="careto tooltip" /></span>
                </i>
            </div>
        </div>
    }
    else
    {
        <div class="CCI3" id="items">
            <div class="col-sm-2 text-center" onclick="mostrarResumen('1228');"
                 data-toggle="tooltip" data-placement="left" title="" data-original-title="">
                <i class="fa fa-desktop" style="color: blue;" data-toggle="tooltip" data-placement="left" title="" data-original-title="@ViewBag.CCI3">
                    <span class="texto">3<img src="~/img/CCI3.jpeg" style="width:220px; height:250px;" alt="careto tooltip" /></span>
                </i>
            </div>
        </div>

    }

    @if (ViewBag.reservaCC4 == "Si")
    {
        <div class="CCI4" id="items">
            <div class="col-sm-2 text-center" onclick="mostrarResumen('1229');"
                 data-toggle="tooltip" data-placement="left" title="" data-original-title="">
                <i class="fa fa-desktop" style="color: red;" data-toggle="tooltip" data-placement="left" title="" data-original-title="@ViewBag.CCI4">
                    <span class="texto">RSV<img src="~/img/CCI4.jpeg" style="width:220px; height:250px;" alt="careto tooltip" /></span>
                </i>
            </div>
        </div>
    }
    else
    {
        <div class="CCI4" id="items">
            <div class="col-sm-2 text-center" onclick="mostrarResumen('1229');"
                 data-toggle="tooltip" data-placement="left" title="" data-original-title="">
                <i class="fa fa-desktop" style="color: blue;" data-toggle="tooltip" data-placement="left" title="" data-original-title="@ViewBag.CCI4">
                    <span class="texto">4<img src="~/img/CCI4.jpeg" style="width:220px; height:250px;" alt="careto tooltip" /></span>
                </i>
            </div>
        </div>

    }

    @if (ViewBag.reservaCC5 == "Si")
    {
        <div class="CCI5" id="items">
            <div class="" onclick="mostrarResumen('1230');" style="color:red;font-weight:bold"
                 data-toggle="tooltip" data-placement="top" title="" data-original-title="@ViewBag.CCI5">
                <img src="~/img/R1.png" width="90" height="70" />
                <span class="texto" style="color:red">Reservado<img src="~/img/SALA1.jpeg" style="width:250px; height:250px;" alt="" /></span>
            </div>
        </div>
    }
    else
    {
        <div class="CCI5" id="items">
            <div class="" onclick="mostrarResumen('1230');" style="color:red;font-weight:bold"
                 data-toggle="tooltip" data-placement="top" title="" data-original-title="@ViewBag.CCI5">
                <img src="~/img/R1.png" width="90" height="70" />
                <span class="texto" style="color:green">Disponible<img src="~/img/SALA1.jpeg" style="width:250px; height:250px;" alt="" /></span>
            </div>
        </div>

    }

    @if (ViewBag.reservaCC6 == "Si")
    {
        <div class="CCI6" id="items">
            <div class="" onclick="mostrarResumen('1231');" style="color:red;font-weight:bold"
                 data-toggle="tooltip" data-placement="top" title="" data-original-title="@ViewBag.CCI6">
                <img src="~/img/R1.png" width="90" height="70" />
                <span class="texto" style="color:red" data-placement="top">Reservado<img src="~/img/SALA2.jpeg" style="width:250px; height:250px;" alt="" data-placement="top" /></span>
            </div>
        </div>
    }
    else
    {
        <div class="CCI6" id="items">
            <div class="" onclick="mostrarResumen('1231');" style="color:red;font-weight:bold"
                 data-toggle="tooltip" data-placement="top" title="" data-original-title="@ViewBag.CCI6">
                <img src="~/img/R1.png" width="90" height="70" />
                <span class="texto" style="color:green" data-placement="top">Disponible<img src="~/img/SALA2.jpeg" style="width:250px; height:250px;" alt="" data-placement="top" /></span>
            </div>
        </div>

    }

    <!-- #endregion -->



</div>

@*Modal resumen Auditorios*@
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="modal" id="resumenModalAuditorio2" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="center">Resumen</h4>
                                <button class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form class="form-group" asp-action="Index" id="formulario">

                                    <label id="modal_id2" style="font-weight:bold;font-family:'Arial Rounded MT';color:black;visibility:visible"></label>

                                    <div class="form-group">
                                        <label style="font-family:'Arial Rounded MT';font-weight:bold;font-size:20px;color:#2239eb">Nombre Puesto / Código:</label>
                                        <h6 id="modal_nombre2" style="font-weight: bold; font-family: 'Arial Rounded MT'; color: black"></h6>
                                    </div>
                                    <div class="form-group">
                                        <label style="font-family:'Arial Rounded MT';font-weight:bold;font-size:20px;color:#2239eb">Complementos:</label>
                                        <h6 id="modal_complemento2" style="font-weight: bold; font-family: 'Arial Rounded MT'; color: black"></h6>
                                    </div>
                                    <div class="form-group">
                                        <label style="font-family:'Arial Rounded MT';font-weight:bold;font-size:20px;color:#2239eb">Tipo:</label>
                                        <h6 id="modal_tipo2" style="font-weight: bold; font-family: 'Arial Rounded MT'; color: black"></h6>
                                    </div>
                                    <div class="form-group">
                                        <label style="font-family:'Arial Rounded MT';font-weight:bold;font-size:20px;color:#2239eb">Area:</label>
                                        <h6 id="modal_area2" style="font-weight:bold;font-family:'Arial Rounded MT';color:black"></h6>
                                    </div>
                                    <hr />
                                    <div class="center">
                                        <label style="font-family:'Arial Rounded MT';font-weight:bold;font-size:20px;color:#2239eb">Reservar:</label>
                                    </div>
                                    <div class="form-group">
                                        <label style="font-family:'Arial Rounded MT';font-weight:bold;font-size:15px">Fecha:</label>
                                        <input id="Fechar2" name="Fecha" class="form-control" type="date" style="width:100%" />
                                    </div>
                                    <div class="form-group">
                                        <label style="font-family:'Arial Rounded MT';font-weight:bold;font-size:15px">Hora Entrada:</label>
                                        @Html.DropDownList("HoraInicior2", HoraInical, "Selecciona Hora Inicial", new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label style="font-family:'Arial Rounded MT';font-weight:bold;font-size:15px">Hora Salida:</label>
                                        @Html.DropDownList("Horafr2", Horaf, "Selecciona Hora Salida", new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label style="font-family:'Arial Rounded MT';font-weight:bold;font-size:15px">Observaciones:</label>
                                        <input id="observaciones" name="observaciones" class="form-control" type="text" maxlength="150" style="width:100%" />
                                    </div>
                                    <div style="text-align:center">
                                        <button class="btn btn-outline-info" type="button" style="width:150px" onclick="functionreservarid();">Aceptar</button>
                                    </div>
                                    <hr />
                                    <div style="text-align:center">
                                        @*<a class="btn btn-outline-info" onclick="mostrarHorario();">Establecer Horario</a>*@   <a class="btn btn-outline-info" onclick="mostrarReservas();">Ver Reservas</a>
                                    </div>
                                </form>
                            </div>
                            @*<div class="modal-footer">

                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@*Modal resumen Equipos*@
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="modal" id="resumenModal2" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-content">
                            <div class="modal-header bg-blue white">
                                <h4 class="center">Resumen</h4>
                                <button class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form class="form-group" asp-action="Index" id="formulario">

                                    <label id="modal_id" style="font-weight:bold;font-family:'Arial Rounded MT';color:black;visibility:visible"></label>

                                    <div class="form-group">
                                        <label style="font-family:'Arial Rounded MT';font-weight:bold;font-size:20px;color:#2239eb">Nombre Puesto / Código:</label>
                                        <h6 id="modal_nombre" style="font-weight: bold; font-family: 'Arial Rounded MT'; color: black"></h6>
                                    </div>
                                    <div class="form-group">
                                        <label style="font-family:'Arial Rounded MT';font-weight:bold;font-size:20px;color:#2239eb">Complementos:</label>
                                        <h6 id="modal_complemento" style="font-weight: bold; font-family: 'Arial Rounded MT'; color: black"></h6>
                                        @*<img src="~/img/SISTEMAS1.jpeg" width="220" height="160" />*@
                                    </div>
                                    <div class="form-group">
                                        <label style="font-family:'Arial Rounded MT';font-weight:bold;font-size:20px;color:#2239eb">Tipo:</label>
                                        <h6 id="modal_tipo" style="font-weight: bold; font-family: 'Arial Rounded MT'; color: black"></h6>
                                    </div>
                                    <div class="form-group">
                                        <label style="font-family:'Arial Rounded MT';font-weight:bold;font-size:20px;color:#2239eb">Area:</label>
                                        <h6 id="modal_area" style="font-weight:bold;font-family:'Arial Rounded MT';color:black"></h6>
                                    </div>
                                    <hr />
                                    <div class="center">
                                        <label style="font-family:'Arial Rounded MT';font-weight:bold;font-size:20px;color:#2239eb">Reservar:</label>
                                    </div>
                                    <div class="form-group">
                                        <label style="font-family:'Arial Rounded MT';font-weight:bold;font-size:15px">Fecha:</label>
                                        <input id="Fechar" name="Fecha" class="form-control" type="date" style="width:100%" />
                                    </div>
                                    <div class="form-group">
                                        <label style="font-family:'Arial Rounded MT';font-weight:bold;font-size:15px">Hora Entrada:</label>
                                        @Html.DropDownList("HoraInicior", HoraInical, "Selecciona Hora Inicial", new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label style="font-family:'Arial Rounded MT';font-weight:bold;font-size:15px">Hora Salida:</label>
                                        @Html.DropDownList("Horafr", Horaf, "Selecciona Hora Salida", new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label style="font-family:'Arial Rounded MT';font-weight:bold;font-size:15px">Observaciones:</label>
                                        <input id="obs" name="obs" class="form-control" type="text" maxlength="150" style="width:100%" />
                                    </div>
                                    <hr />
                                    <div style="text-align:center">
                                        <button class="btn bg-blue" type="button" style="width:150px" onclick="functionreservarid();">Aceptar</button>  <a class="btn bg-green" style="color: white; width: 150px;cursor:pointer" onclick="mostrarReservas();">Ver Reservas</a>
                                    </div>
                                </form>
                            </div>
                            @*<div class="modal-footer">

                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@*ModalResumen*@
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="modal" id="reservasModal" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-content" style="overflow:scroll;height:600px">
                            <div class="modal-header bg-blue white">
                                <h4 class="center">Reservas</h4>
                                <button class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form class="form-group" asp-action="Index" id="formulario">
                                    <div class="center">
                                        <label id="red" style="font-family:'Arial Rounded MT';font-weight:bold;font-size:20px;color:#2239eb">Proxima Reserva</label>
                                    </div>
                                    <div class="form-group">
                                        <label style="font-family:'Arial Rounded MT';font-weight:bold;font-size:20px;color:#2239eb">Por:</label>
                                        <h6 id="modal_nombrec" style="font-weight:bold;font-family:'Arial Rounded MT';color:black"></h6>
                                    </div>
                                    <div class="form-group">
                                        <label style="font-family:'Arial Rounded MT';font-weight:bold;font-size:20px;color:#2239eb">Fecha:</label>
                                        <h6 id="modal_fecha" style="font-weight:bold;font-family:'Arial Rounded MT';color:black"></h6>
                                    </div>
                                    <div class="form-group">
                                        <label style="font-family:'Arial Rounded MT';font-weight:bold;font-size:20px;color:#2239eb">Desde:</label>
                                        <h6 id="modal_horai" style="font-weight:bold;font-family:'Arial Rounded MT';color:black"></h6>
                                    </div>
                                    <div class="form-group">
                                        <label style="font-family:'Arial Rounded MT';font-weight:bold;font-size:20px;color:#2239eb">Hasta:</label>
                                        <h6 id="modal_horaf" style="font-weight:bold;font-family:'Arial Rounded MT';color:black"></h6>
                                    </div>
                                    <hr />
                                    <div style="text-align:center">
                                        <label style="font-family:'Arial Rounded MT';font-weight:bold;font-size:20px;color:white;background-color:gray">Otras Reserva</label>
                                    </div>
                                    <table id="tblProyecto9" class="table" width="100%">
                                        <thead>
                                            <tr style="text-align:center">
                                                <th style="text-transform: capitalize; font-weight: bold; font-size: 16px; color: blue">
                                                    Fecha
                                                </th>
                                                <th style="text-transform: capitalize; font-weight: bold; font-size: 16px; color: blue">
                                                    Inicio
                                                </th>
                                                <th style="text-transform: capitalize; font-weight: bold; font-size: 16px; color: blue">
                                                    Fin
                                                </th>
                                                <th style="text-transform: capitalize; font-weight: bold; font-size: 16px; color: blue">
                                                    Nombre Completo
                                                </th>
                                                <th style="text-transform: capitalize; font-weight: bold; font-size: 16px; color: blue">
                                                    Estatus
                                                </th>
                                                <th style="text-transform:capitalize;font-weight:bold;font-size:16px;color:blue">
                                                    Almuerzo
                                                </th>
                                                <th style="text-transform: capitalize; font-weight: bold; font-size: 16px; color: blue">
                                                    Observaciones
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="datoscci"></tbody>

                                    </table>
                                </form>
                            </div>
                            @*<div class="modal-footer">

                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@*Modal Horario*@
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="modal" id="horarioModal" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-content" style="overflow:scroll;height:630px">
                            <div class="modal-header">
                                <h4 class="center">Establecer Horario</h4>
                                <button class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form class="form-group" asp-action="Index" id="formulario">
                                    <div class="center">
                                        <label id="red" style="font-family:'Arial Rounded MT';font-weight:bold;font-size:20px;color:#BBB">Asignación de horario</label>
                                    </div>
                                    <span id="modal_id4" style="font-weight:bold;font-family:'Arial Rounded MT';color:black;visibility:visible"></span>
                                    <br />
                                    <div class="row col-md-12">
                                        <div class="col-md-6">
                                            <div class="form-group col-md-12">
                                                <label>Fecha Inicial<span style="color:red"><b> *</b></span></label>
                                                <input id="fechainicial" name="Nombre" class="form-control" type="date" style="width:260px" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group col-md-12">
                                                <label>Fecha Final<span style="color:red"><b> *</b></span></label>
                                                <input id="fechafin" name="fechafin" class="form-control" type="date" style="width:260px" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row col-md-12">
                                        <div class="form-group col-md-6">
                                            <label>Seleccione Hora Inicio<span style="color:red"><b> *</b></span></label>
                                            @Html.DropDownList("horainicio", HoraInical, "Selecciona Hora Inicio", new { @class = "form-control" })
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Seleccione Hora Finalización<span style="color:red"><b> *</b></span></label>
                                            @Html.DropDownList("horafin", Horaf, "Selecciona Hora Finalización", new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="row col-md-12 form-group">
                                        <span style="font-family:'Arial Rounded MT';color:red">Recuerda que el aforo máximo en el tiempo de almuerzo es de 7 personas(1 persona mesa pequeña, 2 personas mesa grande).</span>
                                        <br />
                                        <br />
                                        <label style="font-family:'Arial Rounded MT';font-weight:bold;font-size:15px">Hora Almuerzo:</label>
                                        @Html.DropDownList("idalmuerzo", idAlmuerzo, "Selecciona Hora Almuerzo", new { @class = "form-control" })
                                    </div>
                                    <br />
                                    <br />
                                    <div class="row col-md-12 form-group">
                                        <div class="col-md-6">
                                            <span style="color:red"><b> *</b></span><label>Seleccione los dias del Horario:<span style="color:red"><b> *</b></span></label>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row col-md-12">
                                        <br />
                                        <div class="col-md-6">
                                            @if (ViewBag.Dias != null)
                                            {
                                                foreach (var item in ViewBag.Dias)
                                                {
                                                    <table><tr id="itemNov"><td><input type="checkbox" id="@item.NombreDia" checked="@item.Seleccioando" /><span style="font-size:15px;font-weight:bold; color:black">    @item.NombreDia</span></td></tr></table>
                                                }
                                            }
                                        </div>
                                        <br />
                                        <br />
                                    </div>
                                    <br />
                                    <br />
                                    <div class="row col-md-12 form-group">
                                        <span style="color:red"><b> *</b></span><label>Recuerde: que la hora de incio debe ser inferior a la hora de finalización<span style="color:red"><b> *</b></span></label>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-outline-info" type="button" style="width:150px" onclick="lista();">Aceptar</button>
                                    </div>
                                </form>
                            </div>
                            @*<div class="modal-footer">

                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@*Hoja de estilos*@
<style>
    .texto > em, .texto > img {
        display: none;
        font-family: sans-serif;
    }

    .progress {
        margin: 0px;
        width: 100%;
        height: 20px;
    }

    .texto:hover > em, .texto:hover > img {
        display: block;
    }

    .texto {
        position: relative;
        font-size: 10px;
        font-family: 'Arial Rounded MT';
    }

        .texto > em, .texto > img {
            display: none;
            position: absolute;
            top: -1em;
            left: 2em;
            /* Un poco de colorido */
            border: 1px solid black;
            width: 500px;
            height: 300px;
        }

    .fondo {
        background-image: url(../../img/CCIFINAL.png);
        width: 1000px;
        height: 700px;
        background-size: contain;
        background-position: top left;
        background-repeat: no-repeat;
        border: solid 1px;
    }

    .loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('../../img/cargando.gif') 50% 50% no-repeat rgb(249,249,249);
        opacity: .8;
    }

    /*#region UT */

    .CCI1 {
        position: absolute;
        width: 0px;
        top: 60%;
        left: 34.2%;
    }

    .CCI2 {
        position: absolute;
        width: 0px;
        top: 46%;
        left: 34.2%;
    }

    .CCI3 {
        position: absolute;
        width: 0px;
        top: 20%;
        left: 34.8%;
    }

    .CCI4 {
        position: absolute;
        width: 0px;
        top: 22.2%;
        left: 51%;
    }

    .CCI5 {
        position: absolute;
        width: 0px;
        top: 68.5%;
        left: 47%;
    }

    .CCI6 {
        position: absolute;
        width: 0px;
        top: 68.5%;
        left: 35%;
    }
    /*#endregion */

    /*#region UER */

    /*#endregion */


</style>

@*Asignacion de informacion*@
<script type="text/javascript">
    function mostrarResumen(codigo) {


        var v  = '@ViewBag.DatosMapa';

        var array = @Html.Raw(Json.Encode(
            ((IEnumerable<AlelaProject.Models.Mapa>)ViewBag.DatosMapa).Select(Mapa => new
            {
                idObjeto = Mapa.idObjeto,
                Nombre = Mapa.Nombre,
                Codigo = Mapa.Codigo,
                NombreArea = Mapa.NombreArea,
                TipoObjeto = Mapa.TipoObjeto,
                idArea = Mapa.idArea,
                NombreComplemento = Mapa.NombreComplemento,
            }) ) );

            for (var i = 0; i < array.length; i += 1) {

                if (array[i].idObjeto == codigo) {

                    $("#modal_id").html(array[i].idObjeto);

                    $("#modal_cod").html(array[i].Codigo);

                    $("#modal_nombre").html(array[i].Nombre + ' / ' + array[i].Codigo)

                    $("#modal_tipo").html(array[i].TipoObjeto);

                    $("#modal_area").html(array[i].NombreArea);

                }
            }

        var arrayComple = @Html.Raw(Json.Encode(
            ((IEnumerable<AlelaProject.Models.ObjetosComplementos>)ViewBag.DatosMapaCompl).Select(Mapa => new
            {
                idObjeto = Mapa.idObjeto,
                Complementos = Mapa.Complementos
            })));

            for (var i = 0; i < arrayComple.length; i += 1) {

                if (arrayComple[i].idObjeto == codigo) {

                    $("#modal_complemento").html(arrayComple[i].Complementos);

                }
            }

            var arrayReser = @Html.Raw(Json.Encode(
            ((IEnumerable<AlelaProject.Models.ConsultaReserva>)ViewBag.DatosReservas).Select(Mapa => new
            {
                Fecha = Mapa.Fecha,
                idObjeto = Mapa.idObjeto,
                HoraInicio = Mapa.HoraInicio,
                HoraFin = Mapa.HoraFin,
                NombreCompleto = Mapa.NombreCompleto,
                FechaReserva = Mapa.FechaReserva,
                Disponible = Mapa.Disponible,
                NombreHora = Mapa.NombreHora,
                observaciones = Mapa.Observaciones,
            })));

            var otras = '';
            $("#modal_nombrec").html('');
            $("#modal_fecha").html('');
            $("#modal_horai").html('');
            $("#modal_horaf").html('');
            document.getElementById("datoscci").innerHTML = "";
            for (var i = 0; i < arrayReser.length; i += 1) {

                if (arrayReser[i].idObjeto == codigo) {
                    if (arrayReser[i].Disponible == "Pendiente" || arrayReser[i].Disponible == "Hoy")
                    {
                        $("#modal_nombrec").html(arrayReser[i].NombreCompleto);
                        $("#modal_fecha").html(arrayReser[i].FechaReserva);
                        $("#modal_horai").html(arrayReser[i].HoraInicio);
                        $("#modal_horaf").html(arrayReser[i].HoraFin);

                        $("#datoscci").append(
                            "<tr style='text-align:center'><td style='font-weight:bold'>"
                            + arrayReser[i].FechaReserva + "</td><td>"
                            + arrayReser[i].HoraInicio + "</td><td>"
                            + arrayReser[i].HoraFin + "</td><td>"
                            + arrayReser[i].NombreCompleto + "</td><td style='color:red;font-weight:bold'>"
                            + arrayReser[i].Disponible + "</td><td>"
                            + arrayReser[i].NombreHora + "</td><td>"
                            + arrayReser[i].observaciones + "</td></tr>"
                        );
                    }
                }

                $("#modal_otrasr").html(otras);

            }

        $('#resumenModal2').modal('show');
    }
</script>

@*Mostrar modales*@
<script type="text/javascript">
    function mostrarReservas() {

        $('#reservasModal').modal('show');
        $('#resumenModal2').modal('hide');
    }
</script>

@*Mostrar Modales Horario*@
<script type="text/javascript">
    function mostrarHorario() {

        $('#horarioModal').modal('show');
        $('#resumenModal2').modal('hide');
    }
</script>

@*Reservar por una fecha*@
<script>
    function functionreservarid() {

        var user = '@ViewBag.IdUser';
        var email  = '@ViewBag.email';
        var Fecha = $("#Fechar").val();
        var HoraInicio = document.getElementById('HoraInicior').selectedOptions[0].value;
        var HoraFin = document.getElementById('Horafr').selectedOptions[0].value;
        var observaciones = $("#obs").val();
        var nombrepuesto = $("#modal_nombre").text();
        var idObjetod = $("#modal_id").text();

        almuerzo = "1002";


        if (Fecha == "" || idObjetod == "" || HoraInicio == "" || HoraFin == "" || almuerzo == "") {
                swal({
                    title: 'Error',
                    text: "Todos los campos son obligatorios",
                    type: 'error',
                    showCancelButton: false,
                    cancelButtonText: 'No',
                    cancelButtonClass: 'btn btn-danger',
                    showConfirmButton: true,
                    confirmButtonText: 'Aceptar',
                    confirmButtonClass: 'btn btn-success'
                }, function (isConfirm) {
                    if (isConfirm) {
                        return true;
                    } else {
                        return false;
                    }
                });
            }
            else {
                swal({
                    title: 'Confirmación',
                    text: "¿ Esta seguro que desea actualizar la información ?",
                    type: 'warning',
                    showCancelButton: true,
                    cancelButtonText: 'No',
                    cancelButtonClass: 'btn btn-danger',
                    showConfirmButton: true,
                    confirmButtonText: 'Si',
                    confirmButtonClass: 'btn btn-success'
                }, function (isConfirm) {
                    if (isConfirm)
                    {
                      location.href = '@Url.Action("IndexPost", "MapaCompleto")?idObjeto=' + idObjetod + '&Fecha=' + Fecha + '&HoraInicio=' + HoraInicio + '&HoraFin=' + HoraFin + '&iduser=' + user + '&Almuerzo=' + almuerzo + '&observaciones=' + observaciones + '&nombrepuesto=' + nombrepuesto+ '&Email=' + email;
                    @*location.href = '@Url.Action("IndexPost", "MapaCompleto")?idObjeto=' + idObjetod + '&Fecha=' + Fecha + '&HoraInicio=' + HoraInicio + '&HoraFin=' + HoraFin + '&iduser=' + user + '&Almuerzo=' + Almuerzo + '&observaciones=' + observaciones + '&nombrepuesto=' + nombrepuesto+ '&Email=' + email;*@
                        return true;
                    } else {
                        return false;
                    }
                });
            }


        return false;

    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

@*Loader*@
<script type="text/javascript">
    $(window).load(function () {
        $(".loader").fadeOut("slow");
    });
</script>

@*Funcion de busca*@r
<script type="text/javascript">
    function functionBusqueda(event) {

        var FechaBusqueda = $("#FechaBusqueda").val();

        if (FechaBusqueda == "") {
            swal({
                title: 'Error',
                text: "Todos los campos son obligatorios",
                type: 'error',
                showCancelButton: false,
                cancelButtonText: 'No',
                cancelButtonClass: 'btn btn-danger',
                showConfirmButton: true,
                confirmButtonText: 'Aceptar',
                confirmButtonClass: 'btn btn-success'
            }, function (isConfirm) {
                if (isConfirm) {
                    return true;
                } else {
                    return false;
                }
            });
        }
        else {

            location.href = '@Url.Action("Index", "CSI")?FechaBusqueda=' + FechaBusqueda;

        }

        return false;
    }
</script>

@*Proxima Programacion*@
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="modal" id="reservasCCIModal" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-content" style="overflow:scroll;height:600px">
                            <div class="modal-header bg-blue white">
                                <h4 class="center">Reservas</h4>
                                <button class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form class="form-group" asp-action="Index" id="formulario">
                                    <div style="text-align:center">
                                        <label style="font-family:'Arial Rounded MT';font-weight:bold;font-size:20px;color:white;background-color:gray">Programación de espacios</label>
                                    </div>
                                    <div class="col-md-12" style="align-content:center;text-align:right">
                                        <br />
                                        <img onclick="tableToExcel('tblProgramacion', 'programacion')" src="~/img/exce.png" width="40" height="40" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="" data-original-title="Descargar a Excel" />
                                        <br />
                                    </div>
                                    <br />
                                    <br />
                                    <table id="tblProgramacion" class="table" width="100%">
                                        <thead>
                                            <tr style="text-align:center">
                                                <th style="text-transform: capitalize; font-weight: bold; font-size: 16px; color: blue">
                                                    Fecha
                                                </th>
                                                <th style="text-transform: capitalize; font-weight: bold; font-size: 16px; color: blue">
                                                    Inicio
                                                </th>
                                                <th style="text-transform: capitalize; font-weight: bold; font-size: 16px; color: blue">
                                                    Fin
                                                </th>
                                                <th style="text-transform: capitalize; font-weight: bold; font-size: 16px; color: blue">
                                                    Nombre
                                                </th>
                                                <th style="text-transform: capitalize; font-weight: bold; font-size: 16px; color: blue">
                                                    Tipo
                                                </th>
                                                <th style="text-transform: capitalize; font-weight: bold; font-size: 16px; color: blue">
                                                    Observaciones
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="datosreservas"></tbody>

                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@*Asignacion de informacion proxima reserva*@
<script type="text/javascript">
    function mostrarProgramacion() {


        var arrayProgramacion = @Html.Raw(Json.Encode(
            ((IEnumerable<AlelaProject.Models.MiReservas>)ViewBag.misReservas).Select(Mapa => new
            {

                fecha = Mapa.FechaReserva,
                inicio = Mapa.HoraInicio,
                fin = Mapa.HoraFin,
                tipoObjeto = Mapa.TipoObjeto,
                nombrePTO = Mapa.Nombre,
                observaciones = Mapa.Observaciones,

            }) ) );

        document.getElementById("datosreservas").innerHTML = "";

            for (var i = 0; i < arrayProgramacion.length; i += 1) {

                $("#datosreservas").append(
                    "<tr style='text-align:center'><td>"
                    + arrayProgramacion[i].fecha + "</td><td>"
                    + arrayProgramacion[i].inicio + "</td><td>"
                    + arrayProgramacion[i].fin + "</td><td>"
                    + arrayProgramacion[i].nombrePTO + "</td><td>"
                    + arrayProgramacion[i].tipoObjeto + "</td><td>"
                    + arrayProgramacion[i].observaciones + "</td></tr>"
                );
            }

        $('#reservasCCIModal').modal('show');

    }
</script>

@*Exportar a excel*@
<script>
    var tableToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,'
            , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
            , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
            , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
        return function (table, name) {
            if (!table.nodeType) table = document.getElementById(table)
            var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
            window.location.href = uri + base64(format(template, ctx))
        }
    })()
</script>